# Site wide configuration

title: "Mira's Bat Mitzvah Website"
description: "Making a difference for kids with congenital heart defects."
logo: CapitalM.png # 120x120 px default image used for Twitter summary card
image:
  feature: featured-img.jpg
  teaser: # 400x250 px default teaser image used in image archive grid
locale: en
# for prod
url: "/MirasBatMitzvah"
# url: ""

feed:
  path: atom.xml

# Jekyll configuration

sass:
  sass_dir: _sass
  style: compressed
permalink: /:categories/:title/
kramdown:
  toc_levels: 1..2
highlighter: rouge
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed


# Site owner
owner:
  name: "Mira"
  email: "mirafzola@gmail.com"
  twitter:
  google:
    ad-client:
    ad-slot:
  bio:
  avatar: bio-photo.png # 160x160 px image for author byline
  disqus-shortname:


include:
  - .htaccess
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
